.content-wrapper{
    display: flex;
    flex-direction: row;
}

.content-restaurant{
    width: calc(100% - 250px);
    min-width: 0;
}

header{
    background-color: rgba(231, 108, 31, 1);
    height: 128px;
}

.home-background{
  width: 100%;
  height: 460px;
  background-image: url("./assets/img/background-home.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content{
    padding-left: var(--content-padding);
    padding-right: 20px;
}

.main-headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 30px;
    text-align: center;
}

.title-row{
    display: flex;
    align-items: baseline;
    gap: 26px;
}

h1{
    font-size: 48px;
    font-family: 'Palanquin Dark';
    color: orange;
}

h1 span{
    color: rgba(54, 53, 52, 1);
}

.title-detail{
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: bold;
    color: rgba(54, 53, 52, 1);
}

.title-short{
    display: none;
}

.category-header{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: rgba(231, 108, 31, 1);
    height: 60px;
    padding-left: calc(var(--total-offset) + 40px);
    margin: 90px 0px 30px calc(-1 * var(--total-offset));
    width: 100vw;
    position: relative;
}

.category-header:first-child{
    margin-top: 0;
}

.category-icon{
    width: 88px;
    height: 91px;
    position: relative;
    top: -12px;
}

.category-header h2{
    color: white;
    font-size: 40px;
}

.menu-item-card{
    max-width: 720px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
}

.menu-item-img{
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.menu-info{
    flex-grow: 1;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title price" "desc desc" "action action";
}

.item-title{
    grid-area: title;
    font-size: 24px;
    font-weight: 600;
    color: rgba(54, 53, 52, 1);
}

.menu-info .price{
    grid-area: price;
    font-weight: 600;
    font-size: 24px;
    color: rgba(54, 53, 52, 1);
}

.menu-info p{
    grid-area: desc;
    max-width: 350px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: rgba(54, 53, 52, 1);
    flex-grow: 1;
}

.menu-info .add-btn,
.menu-info .added-badge{
    grid-area: action;
    justify-self: end;
    align-self: end;
}

footer{
    display: flex;
    height: 128px;
    justify-content: center;
    align-items: end;
    background-color: rgba(231, 108, 31, 1);
    padding: 32px 80px;
    margin-top: 90px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 72px;
    font-size: 18px;
    color: white;
}

.copyright-group{
    display: flex;
    align-items: center;
    gap: 4px;
}

footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
}

@media (max-width: 1200px){

    .main-content{
       padding-right: var(--content-padding);
    }

    .title-row{
        flex-direction: column-reverse;
        align-items: unset;
        gap: 16px;
    }
    
    .title-full{
        display: none;
    }
    .title-short{
        display: inline;
    }

    .content-restaurant{
        width: 100%;
    }

   .category-header{
        flex-direction: column;    
        justify-content: center;
        min-height: 60px;
        padding: 20px 16px 14px; 
        text-align: center;
        position: relative;
    }

    .category-icon{
        position: absolute;
        top: -40px;                 
        left: 50%;
        transform: translateX(-50%);
        width: 58px;
        height: 60px;
    }

    .category-header h2{
        font-size: 32px;             
    }

    .menu-item-card{
        max-width: 100%;
        flex-direction: column; 
    }

    .menu-item-img{
        width: 100%;
        height: 160px;
    }

    .menu-info p{
        max-width: 100%;
    }

    .menu-info{
        grid-template-areas: "title title" "desc desc" "price action";
    }
}

@media (max-width: 760px) {

    .home-content{
        padding-top: 20px;
    }

    .home-background{
        width: 90%;
        background-position: unset;
        border-radius: 16px;
    }

    .home-logo{
        top: 500px;
    }
    
    .home-logo img{
        width: 150px;
    }

    h1{
        font-size: 40px;
        line-height: 120%;
    }

    .title-detail{
        font-size: 22px;
        line-height: 120%;
    }

    .logo-img{
        left: 20px;
    }

    footer{
        height: unset;
        padding: 20px 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .footer-content .copyright-group{
        order: 3;
    }

    .footer-content a:nth-of-type(1){
        order: 1;
    }

    .footer-content a:nth-of-type(2){
        order: 2;
    }
}